#menu {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start_game {
    margin-top: 30px;
    height: 20%;
    width: 80%;
    background-image: url('../img/letters/start_letter.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#start {
    margin-top: 250px;
    height: 20%;
    width: 40%;
    background-image: url('../img/letters/play_letter.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#start:hover {
    background-image: url('../img/letters/play_letter_hover.png');
}

/* --------credits */
#menu_credits {
    margin-top: 20px;
    height: 10%;
    width: 30%;
    background-image: url('../img/letters/credits_letter.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#menu_credits:hover {
    background-image: url('../img/letters/credits_letter_hover.png');
}

#credits {
    color: white;
    display: none;
    position: relative;
    top: 0;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

#jhonny {
    background-image: url('../img/pixel/jhonny.gif');
    background-repeat: no-repeat;
    background-size: contain;
    left: 200px;
    top: 100px;
    width: 300px;
    height: 280px;
    position: absolute;
}