* { 
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
}

#game {
    width: 800px;
    background-image: url('./img/level1.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 800px;
    position: relative;
}

.pixel {
    border: solid blueviolet 1px;
    background-image: url('./img/a.gif');
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    width: 80px;
    position: absolute;
}

/* #tree1 {
    border: solid red 2px;
    left: 155px;
    top: 390px;
    width: 40px;
    height: 40px;
    position: absolute;
} */