* { 
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    
}

#game {
    width: 800px;
    background-image: url('./img/level1.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 800px;

    position: relative;
}

.pixel {
    border: solid blueviolet 1px;
    background-image: url('./img/a.gif');
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    width: 80px;
    position: absolute;
}

.interface {
    width:800px;
    height: 80px;
    background-color: chartreuse;
    background-size: contain;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}

#life{
    background-color: darkred;
    width: 80px;
    height:80px ;

}
#timer{
    background-color: aqua;
    width: 80px;
    height: 80px;

}
#key{
    background-color: darkorange;
    width: 80px;
    height: 80px;

}

/* #tree1 {
    border: solid red 2px;
    left: 155px;
    top: 390px;
    width: 40px;
    height: 40px;
    position: absolute;
} */