* { 
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
}

#game {
    width: 710px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#board>img {
    width: 100%;
    height: 100%;
}

#board {
    display: flex;
    position: relative;
}

.pixel {
    border: solid blueviolet 1px;
    background-image: url('./img/a.gif');
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 330px;
    top: 665px;
}

.interface {
    width: 100%;
    height: 9%;
    background-color: chartreuse;
    background-size: contain;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}

#life{
    background-color: darkred;
    width: 15%;
    height: 100%
}
#timer{
    background-color: aqua;
    width: 15%;    
    height: 100%
}
#key{
    background-color: darkorange;
    width: 15%;    
    height: 100%

}


#cofre2{
    width: 40px;
    height: 25px;
    background-image: url('img/cofre_crrado.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    align-content: center;
    top: 470px;
    left: 115px;

}

#cofre3{
    width: 40px;
    height: 25px;
    background-image: url('img/cofre_crrado.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    align-content: center;
    left: 500px;
    top: 650px;

}

#tree1 {
    border: solid red 2px;
    left: 155px;
    top: 370px;
    width: 85px;
    height: 135px;
    position: absolute;
}